# Virtual environment
.venv/
env/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db

# dotenv secrets
.env

# IDE
.vscode/
.idea/
# Ajoute ces lignes à ton .gitignore
airflow/logs/
airflow/airflow.cfg
data/features_dataset.csv
models/
*.pyc
__pycache__/
.venv/